##
## Jenkins Plugin for JIRA
## Copyright (C) 2012 Marvelution
## info@marvelution.com
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
#* @vtlvariable name="webResourceManager" type="com.atlassian.plugin.webresource.WebResourceManager" *#
#* @vtlvariable name="i18n" type="com.atlassian.jira.web.bean.I18nBean" *#

<html>
<head>
	$webResourceManager.requireResourcesForContext("jenkins-builds-panel")
	$webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-dropdown2")
	$webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-buttons")
	<script type="text/javascript">
		AJS.toInit(function () {
			initializeResultFilter();
		});
	</script>
</head>
<body>
<div id="quicklinks">
	<ul class="operations">
		#if ($actions.size() > 1)
			<li class="aui-dd-parent">
				<button aria-owns="dropdown-result-filters" aria-haspopup="true" class="aui-dropdown2-trigger aui-style-default aui-button"
				        data-container="#quicklinks">
					$i18n.getText("jenkins.result.filters")
				</button>
				<div id="dropdown-result-filters" class="aui-dropdown2 aui-style-default">
					<div class="aui-dropdown2-section">
						<ul class="aui-list-truncate">
							#set($key = "jenkins.build.result")
							#set($length = $key.length() + 1)
							#foreach($result in $i18n.getKeysForPrefix($key))
								<li class="aui-list-item">
									<a class="result-filter aui-dropdown2-checkbox"
									   data="$result.substring($length)">$i18n.getText($result)</a>
								</li>
							#end
						</ul>
					</div>
				</div>
			</li>
		#end
	</ul>
</div>
<h2>$i18n.getText("jenkins.panel.label")</h2>

<div class="jenkins-build-list">
	#foreach($action in $actions)
		$action.getHtml()
	#end
</div>
</body>
</html>
